/* Variáveis de Cor */

:root{
    --primary-color: #fd951f;
    --secondary-color: #1fd4fd;
    --tertiary-color: rgb(241, 100, 48);
}


/* Estilos Básicos do Corpo */

body{
    width: 100vw;
    height: 100vh;
    color: black;
    background-color: #fffAFA;
    font-family: "Roboto", "sans serif";
    font-size: 16px;
    line-height: 28px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body h1{
    font-size: 240%;
    font-weight: bold;
    margin: .3em;
}

body h2{
    font-size: 180%;
    font-weight: bold;
    margin: .2em;
}

body h3{
    font-size: 130%;
    font-weight: bold;
}

body ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -khtml-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

body img{
    -webkit-tap-highlight-color: transparent;
    -khtml-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

body input,
body select{
    -webkit-tap-highlight-color: transparent;
    -khtml-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

body input[type=number]::-webkit-inner-spin-button, 
body input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body:focus{
    outline: none;
}

body input:focus,
body select:focus,
body textarea:focus{
    background-color: rgb(243, 243, 237);
    outline: none;
}

body button:focus{
    outline: none;
}