/* Estilos Básicos do Header */

.menu-navegacao{
    width: 100vw;
    background-color: rgba(10,10,10,.95);
    color: white;
    font-family: "Roboto", "sans serif";
    font-size: 16px;
    line-height: 28px;
    display: flex;
    box-shadow: 0px 0px 5px 1px black;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 3em;
}

@media(max-width: 1400px){
    .menu-navegacao{
        font-size: 12px;
        line-height: 20px;       
    }
}

@media(max-width: 1000px){
    .menu-navegacao{
        margin-bottom: 1em;
    }
}


/* menu-navegacao ul */

.menu-navegacao ul{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    display: grid;
    gap: .5em;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1600px){
    .menu-navegacao ul{
        grid-template-columns: 1fr 1.5fr 1fr;
    }
}

@media(max-width: 1200px){
    .menu-navegacao ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 1000px){
    .menu-navegacao ul{
        grid-template-columns: repeat(auto-fit, 100%);
    }
}


/* menu-navegacao ul li (e filhos) */

.menu-navegacao ul li{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

.menu-navegacao ul li h1{
    width: 100%;
    font-size: 240%;
}

.menu-navegacao ul li h2{
    width: 100%;
    color: var(--primary-color);
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu-navegacao ul li input{
    width: 95%;
    padding: .8em;
    box-sizing: border-box;
    border-radius: 3px;
}

.menu-navegacao ul li input:focus{
    background-color: white;
}

@media(max-width: 1400px){
    .menu-navegacao ul li input{
        font-size: 10px;      
    }
}

@media(max-width: 1000px){
    .menu-navegacao ul li input{
        width: 65%;
    }
}

@media(max-width: 420px){
    .menu-navegacao ul li input{
        width: 75%;
    }
}

.menu-navegacao ul .links div{
    width: 80%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

@media(max-width: 1000px){
    .menu-navegacao ul .links div{
        width: 100%;
    }
}

.menu-navegacao ul li div a{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: auto;
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    transition: all .2s
}

@media(max-width: 1000px){
    .menu-navegacao ul li div a{
        margin: 3em;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media(max-width: 420px){
    .menu-navegacao ul li div a{
        margin: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media(hover: hover){
    .menu-navegacao ul li div a:hover{
        color: var(--primary-color);
    }
}

.menu-navegacao ul li div a i{
    margin-right: .2em;
}