<!-- Campos de Formulário Reutilizáveis -->

<div class="item">
    <div>Categoria</div>

    <select
        name="category_id"
        required
    >
        <option
            class="disabled-select"
            disabled
            selected
        >
            -- Selecionar Opção --
        </option>

        {% for category in categoryOptions %}

            <option
                value="{{category.id}}"
                
                {% if product.category_id == category.id %}
                    selected
                {% endif %}
            >
                {{category.name}}
            </option>

        {% endfor %}

    </select>
</div>
<div class="item">
    <div>Nome</div>

    <input 
        type="text"
        name="name"
        value="{{product.name}}"
        placeholder="Título do Anúncio"
        maxlength="50"
        
        pattern="^[A-Za-z][A-Za-z\s]{1,48}[A-Za-z]$"
        title='O nome do produto pode conter letras de "A-Z", sem acentos'

        required
    >
</div>
<div class="item">
    <div>Descrição</div>

    <textarea 
        class="description-box"
        name="description"
        placeholder="Descreva o Produto..." 
        cols="30" 
        rows="10"
        maxlength="340"

        onkeydown="changeTextAreaSpanText('description-box', 'description-span', 340)"
        onkeyup="changeTextAreaSpanText('description-box', 'description-span', 340)"

    >{{product.description}}</textarea>

    <span
        class="description-span"
    >
        A descrição do produto é opcional
    </span>
</div>
<div class="item">

    {% if product.old_price %}
        <input 
            type="hidden"
            name="old_price"
            value="{{product.old_price}}"

            required
        >
    {% endif %}

    <div>Valor</div>

    <input
        class="price-input"
        type="text"
        name="price"
        value="{{product.price}}"
        placeholder="Preço do Produto"

        pattern="^([R][$][\s])?[\d]{1,3}([.][\d]{3})?([,][\d]{2})$"
        title="Preencha no formato: 999.999,99"

        onfocus="monetaryBRLMask('price-input')"
        onblur="monetaryBRLMask('price-input')"
        
        required
    >
</div>
<div class="item">
    <div>Quantidade</div>

    <input 
        class="quantity-input"
        type="text"
        name="quantity"
        value="{{product.quantity}}"
        placeholder="Quantidade Disponível"
        
        pattern="^[\d]{1,6}$"
        title="A quantidade não deve exceder 999.999 unidades"

        onkeydown="textToNumberMask('quantity-input')"
        onkeyup="textToNumberMask('quantity-input')"

        required
    >
</div>

{% if (product.status == 0) or (product.status == 1) %}
    <div class="item">
        <div>Disponível em estoque</div>

        <ul>
            <li>
                <input 
                    type="radio"
                    name="status"
                    value=1
                    
                    {% if product.status == 1 %}
                        checked
                    {% endif %}

                    required

                > Sim
            </li>
            <li>
                 <input 
                    type="radio"
                    name="status"
                    value=0

                    {% if product.status == 0 %}
                        checked
                    {% endif %}

                > Não
            </li>
        </ul>

    </div>
{% endif %}

<button
    class="primary-color-button"
    type="submit"
>
    Salvar
</button>