/* Card Section */

.card{
    max-width: 1000px;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,.1);
    margin: auto;
    border-radius: 5px;
    position: relative;
}

@media(max-width: 1000px){
    .card{
        background-color: none;
        box-shadow: none;
    }
}


/* Details Div */

.details{ 
    width: 100%;
    color: grey;
    font-size: 16px;
    padding: 1.5em;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 0em;
    font-weight: bold;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1000px){
    .details{
        width: 90%;
        font-size: 14px;
    }
}

.details form{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Edit Form */

#edit-form h3{
    color: var(--primary-color);
    font-size: 100%;
    align-self: flex-start;
}

@media(max-width: 1000px){
    #edit-form h3{
        font-size: 110%;
        align-self: center;
    }
}

#edit-form .item{
    width: 100%;
    margin-top: 1em;
}

#edit-form .item select{
    width: 100%;
    color: grey;
    font-size: 14px;
    height: 2.5em;
    padding: .5em;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#edit-form .item input{
    width: 100%;
    color: grey;
    font-size: 14px;
    height: 2.5em;
    padding: .5em;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#edit-form .item textarea{
    width: 100%;
    color: grey;
    font-size: 14px;
    padding: .5em;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#edit-form .item .description-span{
    display: inline-block;
    width: 100%;
    font-size: 80%;
    text-align: center;
    font-weight: normal;
    text-transform: none;
}

#edit-form .item ul li{
    font-size: 80%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-right: .5em;
    margin-top: .5em;
    padding: .25em .5em;
}

#edit-form .item ul input[type="radio"]{
    width: initial;
    margin: .3em;
    margin-bottom: .4em;
    vertical-align: middle;
}


/* Buttons */

.details button{
    width: 100%;
    height: 2.5em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

@media(max-width: 1000px){
    .details button{
        font-size: 15px;
    }
}

@media(hover: hover){
    .details button:hover{
        box-shadow: inset 1px 1px 5px .1px rgba(0,0,0,.5);
    }
}

.primary-color-button{
    color: white;
    background-color: var(--primary-color);
    margin-top: 2em;
}

.tertiary-color-button{
    color: white;
    background-color: var(--tertiary-color);
    margin-top: .8em;
}


/* Modal Delete */

.modal-delete{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
    transition: opacity .5s ease-in-out
}

.modal-delete form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-delete .confirmation-text{
    width: 33.33%;
}

.modal-delete .confirmation-text p{
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: transparent;
    background-color: transparent;
    text-align: center;
    margin: 1.5em 0;
    padding: 1em;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
}

.modal-delete .buttons-div{
    width: 33.3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.modal-delete .buttons-div button{
    width: 50%;
    color: transparent;
    background-color: transparent;
    text-align: center;
}

@media(hover: hover){
    .modal-delete .buttons-div button:hover{
        box-shadow: none;
    }
}


/* Mostrar Modal Dinamicamente */

.show-modal{
    background-color: rgba(37,37,36,.4);
    z-index: 10;
    opacity: 1;
}

.modal-delete .confirmation-text .show-modal-confirmation-text{
    color: white;
    background-color: rgb(54, 97, 97);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,.3);
}

.modal-delete .buttons-div .show-modal-buttons{
    color: darkslategrey;
    background-color: white;
}

@media(hover: hover){
    .modal-delete .buttons-div .show-modal-buttons:hover{
        box-shadow: inset 1px 1px 5px .1px rgba(0,0,0,.5);
    }
}